body {
	background-color: rgba(0, 0, 0, 0)!important;
}

div#chat_box {
	background-color: rgba(0, 0, 0, 0);
	width: 300px;
	height: 650px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

div#chat_box h2 {
	display: inline-block;
	width: 240px;
}

div#chat_box span {
	font-size: 25px;
	text-align: left;
	display: inline;
}

.chat_from {
	font-weight: bold;
	line-height: 100%;
}

.chat_text {
	word-wrap: break-word;
	line-height: 100%;
}

.chat_row {
	background-color: rgba(0, 0, 0, 0.7);
	margin: 3px 0 0 0;
	border-radius: 10px;
	padding: 10px;
}

.vg_icon {
	width: 100px;
	height: 100px;
	display: block;
}

div#chat_box div.default {
	width: 100%;
	height: 650px;
	-ms-overflow-style: none;
	/* for Internet Explorer, Edge */
	scrollbar-width: none;
	/* for Firefox */
	/*overflow-y: scroll;*/
	display: flex;
	flex-direction: column-reverse;
}

.controll {
	position: absolute;
	left: 25px;
}

.button-start {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 6px 14px;
	font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
	border-radius: 6px;
	border: none;
	background: #6E6D70;
	box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
	color: #DFDEDF;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.active {
	background: #2ea44f;
}